.Resume{
    display:flex;
    width:100%;
    gap:20px;
    flex-direction:column;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
    .Resume{
        flex-direction:row;
    }
}
